{erl_opts, [debug_info]}.
{deps, [
    {nxtfr_event, ".*", {git, "https://github.com/nxtfr/nxtfr_event.git", {branch, "main"}}},
    {nxtfr_autodiscovery, ".*", {git, "https://github.com/nxtfr/nxtfr_autodiscovery.git", {branch, "main"}}},
    {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", {tag, "3.0.8+p1"}}}
]}.

{shell, [
    {apps, [nxtfr_avatar]}
]}.
